/*
|--------------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------------
| Archivo CSS donde en cada seccion personalizaremos la vista donde apliquen los cambios
*/

/* Footer ------*/
body
{
    /*background:lightgray; */
    font-family: 'Poiret One', cursive;   
}

h1
{
    color:orange;
}

h2,h3,h4,h5,h6
{
    color:#444;
    /* font-family: 'Lobster Two', cursive; */
}


/* Footer ------*/
footer
{
    background: #222;
    text-align: center;
    padding: 20px;
}

.page
{
    background: #fff;
    border-radius: 1em;
    margin:1em;
    min-height: 500px;
    /*margin-bottom: 30px; */
    padding: 1em;

}

#fondo_barra_nav
{
    background-color: #1761a0;
}