/*
|--------------------------------------------------------------------------------
| MainStore
|--------------------------------------------------------------------------------
| Archivo CSS de estilos donde en cada seccion personalizaremos la vista donde apliquen los cambios.
*/

/*Nav -----*/
body
{
    
    font-family: 'Poiret One', cursive;  
     
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Lato', cursive;
}

a.detalle 
{
    font-family: 'Lobster Two', cursive;  
}

/*Nav -----*/
.main-title
{
    color: orange !important;
    font-size: 26 px;
}

/* Footer ----------*/
footer
{
    background: #74d14c;
    text-align: center;
}

p
{
color: black;
}

footer p 
{
    text-align: justify;
    
}

ul.redes li
{
    display: inline-block;
}

ul.redes li a 
{
    color: orange;
}

.avatar
{
    border: 5px solid orange;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;

}

/* Catalogo ---------------------*/
#products 
{
    position: relative;
    max-width: 100%;
    width: 100%;
}

img 
{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.white-panel 
{
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
}

.white-panel h1 
{
    font-size: 1em;
}

.white-panel h1 a 
{
    color: #A92733;
}

.white-panel:hover 
{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Detalle producto----------------*/
.product-block
{
    background: #fff;
    border-radius: 1em;
    padding: 1em;
}

/* Slider -------------------*/
.navbar
{
    margin-bottom: 0;
}

/*Carrito  --------------------*/
.table-cart
{
    background: #fff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;
}

.table-cart img /* todas las imagenes que esten dentro de el id table.cart*/
{
    width: 50px;
}

.page
{
    background: #fff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;


}


.precio-text{
    color:#1761A0 !important;
}

.tittle-description-detail{
    color: #1761A0 !important;
}

.description-article{
    font-size: 1.2em;
    font-weight: bolder;
}

.th-pedido{
    color: #1761A0;
    font-size: 1.4em;
    font-weight: bolder;
}