<template>
    
   <div class="container">
                <h1> Pedidos</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Folio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo pago</th>
            <th scope="col">Estado</th>
            <th scope="col">Total</th>
            
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

   
   </div>

</template>
<script>
    export default {
        data(){//aqui n la parte de declaras las variables
            return{
                arrayPedidos:[]
            } //para que la vista pueda ver sus variables
        },
        methods:{//aqui van los metodos a utilizar
            
        },
        mounted() {
            
        }
    }
</script>